.prim-but a {
  background-image: linear-gradient(
    to right,
    #f9c660 0%,
    #f9c660 51%,
    #ec5a67 100%
  );
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: #220049;
  border-radius: 0 20px 0 0;
  display: block;
  font-weight: 600;
  font-size: 20px;
}
.prim-but a:hover {
  background-position: right center;
  color: #220049;
  text-decoration: none;
}
.prim-but img {
  padding-left: 10px;
  vertical-align: middle;
}
