body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#dark {
  background-color: #220049;
  transition: all 0.5s ease;
}
#light {
  background-color: #f7f6ed;
  transition: all 0.5s ease;
}
